DATABASE_URL="postgresql://comicverse:comicverse_dev@localhost:5432/comicverse?schema=public"

BETTER_AUTH_SECRET="genera-uno-con-el-comando-del-readme"
BETTER_AUTH_URL="http://localhost:3000"
COMIC_VINE_API_KEY="pide-una-gratis-en-comicvine.gamespot.com/api"